<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
  </head>
  <body>
    <h1>Weather</h1>
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'current_and_forecast')" 
          {% if active_tab == 'current_and_forecast' %} class="active" {% endif %}>Weather</button>
        <button class="tablinks" onclick="openTab(event, 'historical')" 
          {% if active_tab == 'historical' %} class="active" {% endif %}>Historical</button>
        <button class="tablinks" onclick="openTab(event, 'multiple_cities_data')" 
          {% if active_tab == 'multiple_cities_data' %} class="active" {% endif %}>Multiple Cities</button>
      </div>

      <!-- Tab 1 -->
      <div id="current_and_forecast" class="tabcontent">
        <div class="container">
    
          <form method="POST" action='/current_and_forecast'>
            <label for="city">Enter City:</label>
            <input type="text" name="city" id="city" required />
            <button type="submit">Get Current Weather</button>
          </form>
          
          {% if weather %}
          <div class="weather">
            <h2>Current Weather in {{ weather.city }}:</h2>
            <p>Temperature: {{ weather.temperature_f }}°C / {{ weather.temperature_f }}°F</p>
            <p>Feels Like: {{ weather.feels_like_c }}°C / {{ weather.feels_like_f }}°F</p>
            <p>Condition: {{ weather.condition }}</p>
            <p>Wind Speed: {{ weather.wind_speed_kph }} kph / {{ weather.wind_speed_mph }} mph </p>
          </div>
          {% for day in forecast %}
          <div class="forecast-item">
              <p class="date">{{ day.date }}</p>
              <img src="https:{{ day.condition_icon }}" alt="Weather Icon">
              <h3>{{ day.avg_temp }}°C</h3>
              <p>Max: {{ day.max_temp }}°C, Min: {{ day.min_temp }}°C</p>
              <p>{{ day.condition_text }}</p>
              <p>Wind Speed: {{ day.wind_speed }} km/h</p>
              <p>Humidity: {{ day.humidity }}%</p>
          </div>
          {% endfor %}
          {% elif error %}
          <div class="error">
            <p>{{ error }}</p>
          </div>
          {% endif %}
        </div>
      </div>

      <!-- Tab 2 -- fix the ui for this and the values -->
      <div id="historical" class="tabcontent">
        <h1>Historical Data (up to past 7 days)</h1>
        <form method="POST" action='/historical'>
          <label for="location">Enter City: </label>
          <input type="text" id="location" name="location" value="{{ location }}" required>
          <br><br>
          
          <label for="date">Pick Date: </label>
          <input type="date" id="date" name="date" value="{{ date.strftime('%Y-%m-%d') if date else '' }}" required>
          <br><br>
          
          <button type="submit">Get Historical Data</button>
        </form>
  
        {% if date_valid %}
          <p>{{ date_valid }}</p>
        {% endif %}
        {% if data %}
          <h2>{{ location }} </h2>
          <p><strong>Temperature:</strong> {{ data['forecast']['forecastday'][0]['day']['avgtemp_c'] }} °C</p>
          <p><strong>Humidity:</strong> {{ data['forecast']['forecastday'][0]['day']['avghumidity'] }} %</p>
          <p><strong>Condition:</strong> {{ data['forecast']['forecastday'][0]['day']['condition']['text'] }}</p>
          <p><strong>Sunrise:</strong> {{ data['forecast']['forecastday'][0]['astro']['sunrise'] }}</p>
          <p><strong>Sunset:</strong> {{ data['forecast']['forecastday'][0]['astro']['sunset'] }}</p>
        {% elif error %}
          <div class="error">
            <p>{{ error }}</p>
          </div>
        {% endif %}
      </div>

      <div id="multiple_cities_data" class="tabcontent">
        <h1>Weather Globally</h1>
        <form method="POST" action='/multiple_cities_data'>
          <label for="city">Search for a city: </label>
          <input type="text" name="city" id="city" required />
          <button type="submit">Click to View</button>
        </form>

        

        {% for city in cities %}
          <h2>{{city['city']}}</h2>
          <div>
            <p>Temperature: {{ city.temperature_f }}°C / {{ city.temperature_f }}°F</p>
            <p>Feels Like: {{ city.feels_like_c }}°C / {{ city.feels_like_f }}°F</p>
            <p>Condition: {{ city.condition }}</p>
            <p>Wind Speed: {{ city.wind_speed_kph }} kph / {{ city.wind_speed_mph }} mph </p>
          </div>
        {% endfor %}

        <form method="GET" action='/save_weather_data_file'>
          <button type="submit">Export to Txt File</button>
        </form>
      </div>

      

      <script>
        function openTab(evt, tabName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " active";
        }
      
        document.addEventListener("DOMContentLoaded", function() {
          const activeTab = "{{ active_tab if active_tab else 'current_and_forecast' }}"; 
          const event = { currentTarget: document.querySelector(`.tablinks[onclick="openTab(event, '${activeTab}')"]`) };
          openTab(event, activeTab);
        });
      </script>
  </body>
</html> 